<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">{{ name }}</h1>
      <p class="beer-details" *ngIf="manf">
        Made by <i>{{ manf }}</i>
      </p>
    </div>
  </div>
  
  <div class="container">
    <br>
    <div>
      <h3 class="font-weight-light result-count">Sold at {{ beerDetails?.length }} bars</h3>
      <span class="font-weight-light result-count">Liked by {{ total_likes }} drinkers</span>
      <!-- <p-dropdown class="float-right text-left" *ngIf="filterOptions" [options]="filterOptions" (onChange)="sortBy($event.value)"></p-dropdown> -->
    </div>
    <br>
    <!-- sortMode="multiple" sortField="price" -->
    <p-table [value]="beerDetails">
      <ng-template pTemplate="header">
        <tr>
          <th>Bar</th>
          <th>Price</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-bar>
        <tr>
          <td><a [routerLink]="['/bar/' + bar.bar_id]">{{ bar.bar_name }}</a></td>
          <td>{{ bar.price | currency }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <br>
